/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.banner img {
    width: 45%;
    margin: 0 2.5%;
}

.cta {
    text-align: center;
    margin: 20px 0;
}

.cta button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

.team, .partners, .opportunity, .story, .resource, .forum, .events, .social-media, .contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member, .partner, .opportunity, .story, .resource, .forum, .events, .social-media {
    flex: 1 1 45%;
    margin: 10px;
    text-align: center;
}

.uniform-img {
    width: 150px;  /* Define a largura padrão */
    height: 150px; /* Define a altura padrão */
    object-fit: cover; /* Garante que a imagem seja cortada corretamente para preencher o espaço */
    border-radius: 50%; /* Mantém o estilo arredondado para imagens de membros */
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    padding: 10px;
    margin: 5px 0;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
